@charset "utf-8";

/*==================
初期化の設定
====================*/
/*ベースの要素の設定をリセット*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
p,article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

/*HTML5の新要素をdisplay:blockにする*/
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

/*画像の枠線をクリアして位置の初期値の設定*/
img{
	border:0;
	vertical-align: top;
}

/*リンク時の枠の点線をなしにする*/
a{
	outline: none;
}

/*リスト要素の初期値をリセット*/
ul,ol{
	list-style: none;
}

/*clearfixの設定*/
.clearfix:after{  
	visibility:hidden;/*見えなくする*/ 
	height:0;/*見えなくする*/
	display: block;/*block要素にする*/
	font-size: 0;
	content: " ";
	clear: both;
